<a href="https://colab.research.google.com/github/gopikaganesan/xethon-2021/blob/main/prediction_tool_for_new_hires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

new_hire = pd.read_csv("gdrive/My Drive/Colab Notebooks/DataSets/demo/WA_Fn-UseC_-HR-Employee-Attrition.csv")
new_hire.head()

Mounted at /content/gdrive

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5
1   49        No  ...                       1                     7
2   37       Yes  ...                       0                     0
3   33        No  ...                       3                     0
4   27        No  ...                       2                     2

[5 rows x 35 columns]

In [2]:
features = ['Age','BusinessTravel','DailyRate','Department','DistanceFromHome','Education','EducationField','EnvironmentSatisfaction','Gender','HourlyRate','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MaritalStatus','MonthlyIncome','MonthlyRate','NumCompaniesWorked','Over18','OverTime','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StandardHours','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']
label = 'Attrition'
X, y = new_hire[features].values, new_hire[label].values

for n in range(0,4):
    print("Employee", str(n+1), "\n  Features:",list(X[n]), "\n  Label:", y[n])

Employee 1
  Features: [41, 'Travel_Rarely', 1102, 'Sales', 1, 2, 'Life Sciences', 2, 'Female', 94, 3, 2, 'Sales Executive', 4, 'Single', 5993, 19479, 8, 'Y', 'Yes', 11, 3, 1, 80, 0, 8, 0, 1, 6, 4, 0, 5]
  Label: Yes
Employee 2
  Features: [49, 'Travel_Frequently', 279, 'Research & Development', 8, 1, 'Life Sciences', 3, 'Male', 61, 2, 2, 'Research Scientist', 2, 'Married', 5130, 24907, 1, 'Y', 'No', 23, 4, 4, 80, 1, 10, 3, 3, 10, 7, 1, 7]
  Label: No
Employee 3
  Features: [37, 'Travel_Rarely', 1373, 'Research & Development', 2, 2, 'Other', 4, 'Male', 92, 2, 1, 'Laboratory Technician', 3, 'Single', 2090, 2396, 6, 'Y', 'Yes', 15, 3, 2, 80, 0, 7, 3, 3, 0, 0, 0, 0]
  Label: Yes
Employee 4
  Features: [33, 'Travel_Frequently', 1392, 'Research & Development', 3, 4, 'Life Sciences', 4, 'Female', 56, 3, 1, 'Research Scientist', 3, 'Married', 2909, 23159, 1, 'Y', 'Yes', 11, 3, 3, 80, 0, 8, 3, 3, 8, 7, 3, 0]
  Label: No